    body {
        height: 100vh;
        font-family: 'Abel', sans-serif;
        font-size: 15px;
        color: #666;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
    }
    /*Блок наполнения*/
    
    .content {
        min-height: calc(100vh - 170px);
        width: 100%;
    }
    
    .contblock {
        padding-right: 10%;
        padding-left: 10%;
    }
    /*Блок шапки*/
    
    .header {
        background-color: #FFE4B5;
        font-family: 'Raleway', sans-serif;
        height: 100px;
    }
    
    .logo {
        height: 60px;
        width: 33%;
        margin-top: 0;
        display: inline-block;
        font-size: 40px;
        text-align: right;
    }
    
    .intro {
        margin: 0;
        height: 60px;
        width: 33%;
        line-height: 0.2;
        display: inline-block;
        font-size: 15px;
        text-align: left;
    }
    
    .login {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-align: right;
    }
    
    .headbar {
        text-align: center;
        height: 20px;
        width: 100%;
        margin: 0 auto;
    }
    /*Блок футера*/
    
    .footer {
        background-color: #FFE4B5;
        font-size: 10px;
        text-align: center;
        width: 100%;
        height: 80px;
        margin: 0px;
        position: fixed;
        bottom: 0px;
    }
    /*Блок вспомогательных элементов*/
    /*Параметры ссылок*/
    
    a:link {
        text-decoration: none;
        color: #666;
    }
    
    a:visited {
        text-decoration: none;
        color: #666;
    }
    
    a:active {
        text-decoration: none;
        color: #666;
    }
    
    a:hover {
        text-decoration: none;
        color: #FFF;
        background-color: #DCDCDC;
    }
    /*Параметры блок-кнопок*/
    
    .button {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        line-height: 0.2;
        display: inline-block;
        height: 20px;
    }
    /*Параметры декор линий*/
    
    hr {
        width: 90%;
        border: none;
        background-color: #888;
        color: #888;
        height: 2px;
        margin: 0 auto;
    }
    /*Параметры таблиц*/
    
    table {
        font-family: 'Abel', sans-serif;
        font-size: 15px;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    
    th,
    td {
        border-style: solid;
        border-width: 0 1px 0 1px;
        border-color: white;
    }
    
    th {
        background: #FFDEAD;
        color: #666;
        padding: 10px 20px;
    }
    
    td {
        background: #F8F8FF;
        color: #666;
    }
    
    .btn {
        font-weight: 700;
        color: #666;
        text-decoration: none;
        padding: .8em 1em calc(.8em + 3px);
        border-radius: 3px;
        background: #FFDEAD;
        transition: 0.2s;
    }
    
    .btn:hover {
        background: #ffe561;
    }
    
    .btn:active {
        background: #FFDEAD;
    }