<!DOCTYPE html>

<html>
	
	
	<head><!-- Основные входные данные, ссылки на шрифты и стили, заглавие сайта -->
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/css/styles.css">
		<link href="https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@500&display=swap" rel="stylesheet">
		<title>WebChecker</title>
	</head>
	
	
	<body>    <!-- Тело сайта -->
		
		
		<div class="header" style="height: 50px;"><!-- Шапка -->
			
			<!-- Логотип и слоган -->
			<div class='logo'>WebCH |</div>
			
			<div class='intro'>
				<P>Удобный инструмент для проверки ссылок</P> 
				<P>на работоспособность</P>
			</div>
			
			<!-- Панель с кнопками и сами кнопки -->
			<div class="headbar">

			</div>
			
		</div>
		
		
		<hr></hr><!-- Декоративная линия -->
		<div class= "contblock"><!-- Блок для обособленной части контента -->
			
				<p> <!-- Кнопки выбора между регистраций и авторизацией -->
					<div class='button'>
						<button class = 'btn' id="button-sign-in">Авторизация</button>
					</div>
					<div class='button'>
						<button class = 'btn' id="button-sign-up">Регистрация</button>
					</div>
				</p>
				
				<!-- Ввод данных: логин, пароль, подтверждение -->
			<form action="" method="POST" name="auth">
				<p>
					Введите логин:
				</p>
				
				<input name='user_name' type="text" placeholder="Логин">
				
				<p id = 'p_email'>
					Введите email
				</p>
				
				<input id = 'email' name='email' type="text" placeholder="Email">
				
				<p>
					Введите пароль
				</p>
				
				<input name='password' type="password" placeholder="Пароль">
				
				<!-- Кнопки дейтвия регистрации/входа -->
				<p> 
					<div class='button'>
						<button class = 'btn' id="in-btn">Зарегистрироваться</button>
					</div>
					<div class='button'>
						<button class = 'btn' id="reg-btn">Войти</button>
					</div>
				</p>
			</form>
			</div>
			
		</div>
				<hr></hr><!-- Декоративная линия -->
		
			<div class= "content"><!-- Блок для основного контента сраницы -->
		
			<div class= "contblock"><!-- Блок для обособленной части контента -->
			
			<!-- Текст для ознакомления с сайтом -->
			
			<p>
			О НАС
			</p>
			<p>Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
			Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
			Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
			Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
			Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
			</p>
			
			</div>
		<div class = 'comtainer'>	
			<hr></hr><!-- Декоративная линия -->	
			<div class= "contblock"> <!-- Блок для обособленной части контента -->
			
				<!-- Список спонсоров создания данного сайта -->
				<p>НАШИ СПОНСОРЫ</p>
				<ul> <!-- Сам список-->
					<li>Отрицание</li>
					<li>Торг</li>
					<li>Депрессия</li>
					<li>Принятие</li>
					<li>Пачка печенья</li>
					<li>5 литров чая с мятой</li>
				</ul>
			</div>
		</div>
		<div class='container'>
			<div class="footer"><!-- Футер сайта, на него, в данном случае, вынесены имена авторов  -->
			<hr></hr><!-- Декоративная линия -->
		
				<p>Directed by</p>
				<p>@zid.urrrr | @pavel_danilov_76_rus | @s.flegon</p>
			</div>
		</div>
		

		<script src="static/js/auth.js "></script>
	</body>

</html>
