<!DOCTYPE html>

<html>
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="refresh" content="20">
		<link rel="stylesheet" href="static/css/styles.css">
		<link href="https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@500&display=swap" rel="stylesheet">
		<title>WebChecker</title>
	</head>
	
	<body>
		
		
		<div class="header"><!-- Шапка -->
			
			<!-- Логотип и слоган -->
			<div class='logo'>WebCH |</div>
			
			<div class='intro'>
				<P>Удобный инструмент для проверки ссылок</P> 
				<P>на работоспособность</P>
			</div>
			
			<!-- Панель с кнопками и сами кнопки -->
			<div class="headbar">
			
				<a href='index_ok'>
					<div class='button'>ГЛАВНАЯ</div>
				</a>  |
				
				<a href='webcheck'>
					<div class='button'>WEBCHECK</div>
				</a>  |
				
				<a href='webcheck-light'>
					<div class='button'>Light WEBCHECK</div>
				</a>
				<a href='/' style="position: fixed; right: 0px; margin-top: -62px">
					<button class = 'btn'>Выход</button>
				</a>
				
			</div>
			
		</div>
		
		
		<hr></hr><!-- Декоративная линия -->
		
		<div class= "content"><!-- Блок для основного контента сраницы -->

			
			<div class= "contblock"><!-- Блок для обособленной части контента -->
				
				<!-- Инструкция для работы -->
				<p>WEBCHECK</p>
				<p>Внесите url на проверку и интервал в минутах сюда:</p> 
				<form action="" method="POST" name="send">
				
				<input name='url_table' type="text" placeholder='URL' style = 'height: 20px;'>
				
				
				<input name='interval' type="text" placeholder='Интервал' style='height: 20px;'>
				
				
				<!-- Кнопки дейтвия регистрации/входа -->
				<p> 
					<div class='button'>
						<button class = 'btn'>Добавить на проверку</button>
					</div>
				</p>
			</form>
			
			</div>
			
			
			<div class= "contblock"><!-- Блок для обособленной части контента -->
				
				<p>РЕЗУЛЬТАТЫ ПРОВЕРОК</p>
				<p>ВНИМАНИЕ, информация в таблице обновляется каждые 20 секунд.</p>
				
				<table id = 'tb-result'><!--Таблица для результатов проверки-->
					<tr>
						<th>№</th>
						<th width = 30%>URL</th>
						<th>Интервал проверок(мин)</th>
						<th>Статус</th>
						<th>Время отклика</th>
						<th>Удалить</th>
					</tr>
				</table>
				
			</div>
			
			
		</div>
		
		
		
		<div class="footer"><!-- Футер сайта, на него, в данном случае, вынесены имена авторов  -->
				<hr></hr><!-- Декоративная линия -->
		
			<p>Directed by</p>
			<p>@zid.urrrr | @pavel_danilov_76_rus | @s.flegon</p>
			
		</div>
	
	<script src="static/js/get_json.js"></script>
	</body>

</html>