<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAST CHECK</title>
</head>
<body>
<div>
    <a href="table_urls">Url_Table</a>
</div>
    <div class="container">
        <form action="#" method="POST" name="send">
            <div>
                <input type="text" name="url" placeholder="Вставьте url">
            </div>
            <div>
                <button id="button-send" class="button-send">SEND</button>
            </div>
        </form>
    </div>
</body>
</html>